<div class="container">
  <app-navbar></app-navbar>
  <nav class="navfeed">
    <a style="cursor:pointer" (click)="getYourFeed()">Your Feed</a>&nbsp;&nbsp;
    <a style="cursor:pointer" (click)="getGlobalFeed()">Global Feed</a>&nbsp;&nbsp;
    <a *ngIf="tag">#{{tag}}</a>
  </nav>
  <div class="row">
    <div class="col-md-9">
      <ul class="demo" *ngIf="selected">
        <li class="article-preview" *ngFor="let article of selected.articles">
          <div class="article-meta">
              <img *ngIf="article.author.image" [src]="article.author.image" height="25px" width="25px" />
            <img *ngIf="!article.author.image" ng-src="article.author.image" height="25px" width="25px" />
            <div class="info">
              <a style="cursor:pointer" class="author" (click)="callProfile(article.author.username)">{{article.author.username}}</a>
              <span class="date">{{article.createdAt}}</span>
            </div>
            <button (click)="callFavorite(article.slug)" *ngIf="!article.favorited" class="btn btn-sm btn-outline-success float-right">
                <span>&hearts;{{article.favoritesCount}}</span>
              </button>
              <button (click)="callUnFavorite(article.slug)" *ngIf="article.favorited" class="btn btn-sm btn-success float-right">
              <span>&hearts;{{article.favoritesCount}}</span>
            </button>
          </div>
          <div class="tagdiv">
            <h3>{{article.title}}</h3>
            <p style="margin-top: 0px;">{{article.description}}</p>
            <ul>
              <li *ngFor="let taglist of article.tagList">
                  <button (click)="clickonTag(taglist)" class="btn btn-outline-primary btn-sm">{{taglist}}</button>&nbsp;
              </li>
            </ul>
            <a style="cursor:pointer" class="readmore" (click)="getArticleDetails(article.slug)">Read more...</a>
          </div>
        </li>


      </ul>
    </div>
    <div class="col-md-3">
      <app-tags (listTag)=clickonTag($event)></app-tags>
    </div>
  </div>
  <div *ngIf="articleCount">
    <app-list [articleCount]=itemPages (listNumberclick)=clickonList($event)></app-list>
  </div>
</div>