<div *ngIf="selected">
<div>
  <h1>{{selected.article.title}}</h1>
  <img [src]="selected.article.author.image" alt="No Image" height="25px" width ="25px"/>
  <h3>{{selected.article.author.username}}</h3>
  <h3>{{selected.article.createdAt}}</h3>
  <button (click)="editArticle()">Edit Article</button>
  <button (click)="deleteArticle()">Delete Article</button>
</div>
<div>
{{selected.article.body}}
</div>
<div>
  <img [src]="selected.article.author.image" alt="No Image" height="25px" width ="25px"/>
  <h3>{{selected.article.author.username}}</h3>
  <h3>{{selected.article.createdAt}}</h3>
  <button (click)="editArticle()">Edit Article</button>
  <button (click)="deleteArticle()">Delete Article</button>

</div>
<div>
<form #comment = "ngForm" (ngSubmit) = "addComment(comment)">
  <input type="textarea" placeholder="Write a comment" name ="body" ngModel>
  <button type="submit">Post Comment</button>
</form>
</div>
<div *ngIf="comments">
<li *ngFor = "let comment of comments.comments">
  <div class="card">
    <div class="card-block">
    <p>{{comment.body}}</p>
    </div>
    <div class="card-footer">
      <img [src]="comment.author.image" alt="No Image" height="25px" width ="25px"/>
      <span>{{comment.author.username}}</span>&nbsp;
      <span>{{comment.createdAt}}</span>&nbsp;
      <button (click)="deleteComment(comment.id)">Delete</button>
    </div> 
  </div>
</li>
</div>
</div>