<div *ngIf="token">
  <app-navbar></app-navbar>
 </div>
 <div *ngIf="!token">
     <a class="logo conduit" href="#" >Conduit</a>
     <nav class="pull-right navbar">
     <a  href="#">Home</a>&nbsp;&nbsp; 
     <a (click)="callSignin()">Sign in</a>&nbsp;&nbsp;
     <a (click)="callSignup()" class="signup"> Sign up</a>  
     </nav>
 </div>
<div *ngIf="selected">
<div>
  <h1>{{selected.article.title}}</h1>
  <img [src]="selected.article.author.image" alt="No Image" height="25px" width ="25px"/>
  <a (click)="callProfile(selected.article.author.username)"><h3>{{selected.article.author.username}}</h3></a>
  <h3>{{selected.article.createdAt}}</h3>
  <div *ngIf="match">
  <button (click)="editArticle()">Edit Article</button>
  <button (click)="deleteArticle()">Delete Article</button>
</div>
<div *ngIf=!match>
  <button (click)="followUser()"> Follow {{selected.article.author.username}} </button>
  <button (click)="favoriteArticle()">Favourite Article {{selected.article.favoritesCount}}</button>
</div>
</div>
<div>
{{selected.article.body}}
</div>
<div>
  <img [src]="selected.article.author.image" alt="No Image" height="25px" width ="25px"/>
  <a (click)="callProfile(selected.article.author.username)"><h3>{{selected.article.author.username}}</h3></a>
  <h3>{{selected.article.createdAt}}</h3>
  <div *ngIf="match">
    <button (click)="editArticle()">Edit Article </button>
    <button (click)="deleteArticle()">Delete Article</button>
  </div>
  <div *ngIf="!match">
      <button (click)="followUser()"> Follow {{selected.article.author.username}} </button>
      <button (click)="favoriteArticle()">Favourite Article {{selected.article.favoritesCount}}</button>
    </div>

</div>
<div *ngIf="token">
<form #comment = "ngForm" (ngSubmit) = "addComment(comment)">
  <input type="textarea" placeholder="Write a comment" name ="body" ngModel>
  <button type="submit">Post Comment</button>
</form>
</div>
<div *ngIf="!token">
  <p>

  <a (click) = "callSignin()">Sign In</a> or <a (click) = "callSignup()">sign In</a> to add comments
  to this article.
</p>
</div>
<div *ngIf="comments">
<li *ngFor = "let comment of comments.comments">
  <div class="card">
    <div class="card-block">
    <p>{{comment.body}}</p>
    </div>
    <div class="card-footer">
      <img [src]="comment.author.image" alt="No Image" height="25px" width ="25px"/>
      <a (click)="callProfile(comment.author.username)"><span>{{comment.author.username}}</span></a>&nbsp;
      <span>{{comment.createdAt}}</span>&nbsp;
      <button (click)="deleteComment(comment.id)">Delete</button>
    </div> 
  </div>
</li>
</div>
</div>