<app-navbar></app-navbar>
<div  *ngIf="selected">
  <nav>
  <a routerLink="/Home/Your-Feed" routerLinkActive="active">Your Feed</a>&nbsp;&nbsp;
  <a routerLink="/Home/Global-Feed" routerLinkActive="active">Global Feed</a>
</nav>
<p>
  global-feed works!
</p>
<ul class="demo" >
    <li *ngFor="let article of selected.articles" >
    <div>
    <img [src]="article.author.image" alt="No Image" height="25px" width ="25px"/><br>
    <a (click)= "callProfile(article.author.username)">  <span>{{article.author.username}}</span><br> </a>
    <span>{{article.createdAt}}</span>
  </div>
  <div>
    	&hearts;
    <span>{{article.favoritesCount}}</span>
  </div>
  <div>
      <span>{{article.title}}</span><br>
      <span>{{article.description}}</span><br>
      <ul>
      <li *ngFor="let taglist of article.tagList">
          <span>{{taglist}}</span>&nbsp;
      </li>
    </ul>
     <!-- <a [routerLink]="['/', article.slug]">
      <span>Read More</span> </a> -->
      <a (click)="getArticleDetails(article.slug)">readmore</a>
      </div>
    </li>

    <br><br>
  </ul>
</div>
<div *ngIf="articleCount">
  <app-list [articleCount] = itemPages (listNumberclick)=clickonList($event)></app-list>
</div>