<div *ngIf="token"><app-navbar></app-navbar></div>
<div *ngIf="!token">
    <a class="logo conduit" href="#" >Conduit</a>
    <nav class="navbar">
    <a href="#">Home</a>&nbsp;&nbsp; 
    <a (click)="callSignin()">Sign in</a>&nbsp;&nbsp;
    <a (click)="callSignup()" class="signup"> Sign up</a>  
    </nav>
</div>
<div class ="profile-page" *ngIf="user">
    <div class="user-info"> <img [src]="user.profile.image" alt="No Image" height="25px" width ="25px"/>
     <h4>{{user.profile.username}}</h4>
     <p>{{user.profile.bio}}</p>
     <button class="btn btn-sm btn-outline-secondary action-btn" (click)="callSettings()"><i class="fas fa-cog"></i>Edit Profile Settings</button>
 </div>
 <div class="container">
  <div class ="nav">
    <nav>
      <a (click)="callMyArticles()">My Articles</a>&nbsp;&nbsp;&nbsp;
      <a (click)="callFavoriteArticles()">Favorite Articles</a>
    </nav>  
  </div>
<div *ngIf="articles">
<ul class="demo">
   <li *ngFor="let article of articles.articles" >
   <div>
   <img [src]="article.author.image" alt="No Image" height="25px" width ="25px"/>
   <a (click)="callProfile(article.author.username)"><span>{{article.author.username}}</span></a>
   <span>{{article.createdAt}}</span>
 </div>
 <div>
     &hearts;
   <span>{{article.favoritesCount}}</span>
 </div>
 <div>
     <span>{{article.title}}</span><br>
     <span>{{article.description}}</span><br>
     <ul>
     <li *ngFor="let taglist of article.tagList">
         <span>{{taglist}}</span>&nbsp;
     </li>
   </ul>
 
     <a (click)="getArticleDetails(article.slug)">readmore</a>
     </div>
   </li>
 </ul>
</div>
</div>
<div *ngIf="articleCount">
  <app-list [articleCount] = itemPages (listNumberclick)=clickonList($event)></app-list>
</div>
</div>