<div *ngIf="token"><app-navbar></app-navbar></div>
<div *ngIf="!token">
    <a class="logo conduit" href="#" >Conduit</a>
    <nav class="navbar">
    <a href="#">Home</a>&nbsp;&nbsp; 
    <a (click)="callSignin()">Sign in</a>&nbsp;&nbsp;
    <a (click)="callSignup()" class="signup"> Sign up</a>  
    </nav>
</div>
<div *ngIf="user">
  <div> <img [src]="user.user.image" alt="No Image" height="25px" width ="25px"/><br>
      <span>{{user.profile.username}}</span><br>
      <span>{{user.profile.bio}}</span><br>
   <button (click)="callSettings()">Edit Profile Settings</button>
 </div>
<div>
 <button (click)="callMyArticles()">My Articles</button>
 <button (click)="callFavoriteArticles()">Favorite Articles</button>
</div>
<div *ngIf="articles">
<ul class="demo">
   <li *ngFor="let article of articles.articles" >
   <div>
   <img [src]="article.author.image" alt="No Image" height="25px" width ="25px"/><br>
   <a (click)="callProfile(article.author.username)"><span>{{article.author.username}}</span></a><br>
   <span>{{article.createdAt}}</span>
 </div>
 <div>
     &hearts;
   <span>{{article.favoritesCount}}</span>
 </div>
 <div>
     <span>{{article.title}}</span><br>
     <span>{{article.description}}</span><br>
     <ul>
     <li *ngFor="let taglist of article.tagList">
         <span>{{taglist}}</span>&nbsp;
     </li>
   </ul>
 
     <a (click)="getArticleDetails(article.slug)">readmore</a>
     </div>
   </li>
    <br><br>
 </ul>
</div>
</div>
<div *ngIf="articleCount">
  <app-list [articleCount] = itemPages (listNumberclick)=clickonList($event)></app-list>
</div>