.profile-page .user-info {
    text-align: center;
    background: #f3f3f3;
    padding: 2rem 0 1rem;
}
.profile-page .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 1rem;
}
 .profile-page .user-info h4 {
        font-weight: 700;
        font-size: 1.5rem;
}
.profile-page .user-info p {
    margin: 0 auto .5rem;
    color: #aaa;
    max-width: 450px;
    font-weight: 300;
}
.profile-page .user-info .action-btn {
    float: right;
    color: #999;
    border: 1px solid #999;
    margin-top: -35px;
    margin-right: 30px;
 }
.nav a{
    color: #5cb85c;
}
.nav a:hover{
    color: black;
}
.demo{
    list-style-type: none;
    margin-left: -50px;
}
h4{
    color:#5cb85c;
    text-decoration-line: underline
}
.article-preview{
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem 0;
}
.article-meta{
    display: block;
    position: relative;
    font-weight: 300;
}
.article-meta img{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}
.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}
.article-meta .info .author {
    display: block;
    font-weight: 500!important;
}
.info a{
    color: #5cb85c;
    text-decoration: none;
}
.article-meta .info .date {
    color: #bbb;
    font-size: .8rem;
    display: block;
}
.btn-outline-primary {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
.readmore{
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle;
}
.getfont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
}
.signup{
    margin-right:20px; 
}
.logo{
    color:#5cb85c;
    text-transform: lowercase;
    font-family: 'titillium web',sans-serif;
    font-size: 1.5rem;
    padding-top: 0;
    margin-right: 2rem;
    text-decoration:none;
    font-weight: bolder;
}
.navbar{
    margin-top:10px;
    margin-bottom: 10px;
}
.conduit{
    margin-top:10px;
    margin-bottom: 10px;
}
.navr{
    float: right;
}
.navr a{
    color: black;
    text-decoration: none;
}
.navr a:hover{
    color: #5cb85c;
    text-decoration: none;
} 
.user-image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 1rem;
    vertical-align: middle;
    border: 0;
}
.setbutton button{
    margin-top:-30px;
    margin-right: 30px;
}