.logo-banner{
    color:#fff;
    background-color: #5cb85c;
    text-align: center;
    height: 150px;
    vertical-align: middle;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    font-size:1rem;
    position: relative;
    margin-top:10px;
    line-height: 1.5;
    padding: 2rem;
    text-transform: lowercase;
    margin-bottom:2rem;
    font-weight: bolder;
    width: 100%;
}
.getfont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
}
.signup{
    margin-right:20px; 
}
.logo{
    color:#5cb85c;
    text-transform: lowercase;
    font-family: 'titillium web',sans-serif;
    font-size: 1.5rem;
    padding-top: 0;
    margin-right: 2rem;
    text-decoration:none;
    font-weight: bolder;
}
.navbar{
    margin-top:10px;
    margin-bottom: 10px;
}
.conduit{
    margin-top:10px;
    margin-bottom: 10px;
}
.navr{
    float: right;
}
.navr a{
    color: grey;
    text-decoration: none;
}
.navr a:hover{
    color: #5cb85c;
    text-decoration: none;
}
.main {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    
}
.demo{
    list-style-type: none;
}
h4{
    color:#5cb85c;
    text-decoration-line: underline
} 
.article-preview{
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem 0;
}
.article-meta{
    display: block;
    position: relative;
    font-weight: 300;
}
.article-meta img{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}
.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}
.article-meta .info .author {
    display: block;
    font-weight: 500!important;
}
.info a{
    color: #5cb85c;
    text-decoration: none;
}
.article-meta .info .date {
    color: #bbb;
    font-size: .8rem;
    display: block;
}
.btn-outline-primary {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
.readmore{
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle;
}
.active-link{
    color: black!important;
    opacity: 1!important;
}
.tagdiv ul{
    list-style: none;
   
}
.tagdiv ul li{
    float: right;
   
}
.tagdiv ul li button {
    color: grey;
    border-bottom-color: #5cb85c;
}

#gfeed{
    color:#5cb85c!important;
    text-decoration:underline!important;
}