<div>
  <div class="row">
    <div class="col-md-12">      
      <nav class="navbar">
        <a class="logo conduit" href="#" >Conduit</a>
        <div class="navr">
          <a href="#">Home</a>&nbsp;&nbsp; 
          <a (click)="callSignin()">Sign in</a>&nbsp;&nbsp;
          <a (click)="callSignup()" class="signup float-right"> Sign up</a>  
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12">
    <h1 class="text-xs-center signup">Sign Up</h1>
    <a id="signin" class="form-control-lg" (click)="callSignin()">Have an account?</a>
    <form #signupForm="ngForm"  (ngSubmit) = "registerUser(signupForm)">
      <fieldset class="form-group">
        <input class="form-control form-control-lg"type="text" placeholder="Username" name="username" ngModel>
      </fieldset>  
      <fieldset class="form-group">
        <input class="form-control form-control-lg"type="text" placeholder="Email"type="email" name="email"ngModel>
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control form-control-lg"type="text" placeholder="Password" type="password" name="password" ngModel>
      </fieldset>
      <button class="btn btn-lg btn-success float-right " type="submit">Sign up</button>
    </form>
  </div>
</div>