getfont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
}
.signup{
    margin-right:20px; 
}
.logo{
    color:#5cb85c;
    text-transform: lowercase;
    font-family: 'titillium web',sans-serif;
    font-size: 1.5rem;
    padding-top: 0;
    margin-right: 2rem;
    text-decoration:none;
    font-weight: bolder;
}
.navbar{
    margin-top:10px;
    margin-bottom: 10px;
}
.conduit{
    margin-top:10px;
    margin-bottom: 10px;
}
.navr{
    float: right;
}
.navr a{
    color: black;
    text-decoration: none;
}
.navr a:hover{
    color: #5cb85c;
    text-decoration: none;
}
#signin{
    color: #5cb85c; 
    
}
#signin:hover{
    color: #5cb85c;
    text-decoration: underline;
 }
.signup{
    text-align: center;
    
} 